<ion-list class="custom-list" lines="none">
  <ion-item button (click)="selectOption('Contact settings')" class="itemHeading">Contact settings (wip)</ion-item>
  <ion-item button (click)="selectOption('Invite a friend')" class="itemHeading">Invite a friend</ion-item>
  <ion-item button (click)="selectOption('Contacts')" class="itemHeading">Contacts</ion-item>
  <ion-item button (click)="selectOption('Refresh')" class="itemHeading">Refresh</ion-item>
  <ion-item button (click)="selectOption('Help')" class="itemHeading">Help (wip)</ion-item>
</ion-list>
